body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.reset{
    margin-bottom: 64px;
    padding: 8px 24px;
    font-weight: 700;
}
.container{
    width: 640px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}